.welcome {
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-items: center;
    color: white;
}
img {
    padding:70px;

}
.about {
    text-align: center;
}
.services {
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg);
    text-align: center;
    color: white;
    padding: 50px;
}
.what-we-do {
    text-align: center;
    line-height: unset;
}
.portfolio {
    text-align: center;
    justify-content: center;
}
#imagea {
    padding: 20px;
}
#imageb {
    padding: 20px;
}
#imagec {
    padding: 20px;
}
#imaged {
    padding: 20px;
}
#imagee {
    padding: 20px;
}
#imagef {
    padding: 20px;
}
#imageg {
    padding: 20px;
}
#imageh {
    padding: 20px;
}