.welcome {
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-items: center;
    color: white;
}
img {
    padding:70px;

}
.about {
    text-align: center;
}
.services {
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg);
    text-align: center;
    color: white;
    padding: 50px;
}
.what-we-do {
    text-align: center;
    line-height: unset;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:16%;
    margin-right: 16%; 
  }
  .col-md-3 img{
    max-width: 200%;
    max-height: 200%;
  }
h3{
    text-align: center;
  }
.contact {
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg);
}
h2 {
    text-align: center;
}
.form {
    background-color: unset;
    border: solid white 1px;
}